/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #444;
}

header, main {
  padding-left: 150px;
}

p {
  line-height: 2rem;
  color: rgba(0,0,0,0.71);
}

blockquote {
  color: rgba(0,0,0,0.71);
  border-left: 5px solid #f9a825;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

/*#content-body h1, #content-body h2, #content-body h3, #content-body h4, #content-body h5 {
  color: #f9a825;
}*/

#content-body p {
  font-size: 1.25rem;
  font-weight: 300;
  margin-bottom: 30px;
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}